:root {
    --accent: #FF5C00;
    --secondary: #eeaf26;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    margin: 15vh auto;
    width: 80vw;
    height: 90vh;
    overflow: hidden;
}

.image {
    width: 50%;
    border-radius: 20px;
}

.text-content {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.text-content h1 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 20px;
}

.text-content h1 span {
    color: var(--accent);
}

.text-content p {
    line-height: 1.6;
    font-size: 1.1rem;
}

@media (max-width: 767px) {
    .card-container {
        gap: 75px;
    }
    .container {
        flex-direction: column;
        height: auto;
        margin: 5vh auto;
        width: 90vw;
    }
    .text-content {
        padding: 0;
    }
    .text-content h1 {
        font-size: 2.5rem;
        margin-top: 50px;
    }
    .image, .text-content {
        width: 100%;
    }
    .card {
        flex-direction: column;
    }
    .card img, .text p, .text h2 {
        width: 90vw;
        height: auto;
        margin: 0 auto;
    }
}