/* Hero */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    text-align: center;
    width: 50%;
    margin: 0 2vw;
}
.text #statement {
    font-size: 1.2rem;
    margin-top: 10vh;
    margin-bottom: 0;
}
.text h1 {
    text-align: center;
    font-family: "Mona Sans", sans-serif;
    font-size: 4rem;
    margin-top: 1vh;
    margin-bottom: 5vh;
}
.text p {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 7vh;
}
#b1 {
    text-decoration: none;
    background-color: #eeaf26;
    padding: 20px 30px;
    border-radius: 200px;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    margin-right: 5%;
}
#b2 {
    text-decoration: none;
    border-radius: 200px;
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
}
.photo-card {
    background: #fff;
    border: 10px solid #fff;  /* White Polaroid-style frame */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Soft shadow */
    border-radius: 12px;
    width: 20vw;
    overflow: hidden;
    transform: rotate(5deg); /* Default tilt */
    transition: transform 0.3s ease-out;
}

.photo-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.photo-card.left {
    transform: rotate(-8deg);
}
.photo-card.right {
    transform: rotate(8deg);
    margin-top: 30vh;
}
.photo-card:hover {
    transform: rotate(0deg) scale(1.05);
}
/* Gallery */
.gallery {
    width: 100vw;
    max-width: none;
    padding: 0 5vw;
    box-sizing: border-box;
}

.gallery-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 10vh;
}

.photo {
    flex: 1;
    height: 50vh;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.photo:hover {
    transform: scale(1.05);
}