.container {
    display: flex;
    flex-direction: row-reverse;
    margin: 15vh auto;
    width: 80vw;
    height: auto;
    overflow: hidden;
}

.image {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.text-content {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.text-content h1 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 20px;
    color: #FF5C00;
}

.text-content p {
    line-height: 1.6;
    font-size: 1.1rem;
}

.text-content button {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px 50px;
    border-radius: 200px;
    margin-top: 20px;
    border: none;
    background-color: #eeaf26;
    color: white;
}

@media (max-width: 767px) {
    .image {
        width: 100%;
    }
    .container {
        flex-direction: column;
        height: auto;
        width: 90%;
        margin: 5vh auto;
    }
    .text-content {
        width: 95%;
        margin: 5vh auto 0;
        padding: 0;
    }
    .text-content h1 {
        font-size: 2.5rem;
    }
}